[Desktop Entry]
Type=Application
Name=Flent
Comment=The FLExible Network Tester
Exec=flent --gui %F
Icon=applications-internet
Categories=Qt;Network;
Terminal=false
Keywords=network;bufferbloat;performance;testing;rrul;
MimeType=application/vnd.flent.data+json;application/vnd.flent.data.gzip;application/vnd.flent.data.bzip2;application/x-compressed-json;
