#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_install:
	python3 setup.py install --fake-root --root=debian/netperf-wrapper --install-layout=deb --install-lib=/usr/share/netperf-wrapper --install-scripts=/usr/share/netperf-wrapper

override_dh_auto_build:

override_dh_installchangelogs:
	dh_installchangelogs -k CHANGES

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
