# This is an example matplotlibrc file that will make plots be drawn on a grey
# background with a white grid (as the Seaborn package does; see
# http://stanford.edu/~mwaskom/software/seaborn/tutorial/aesthetics.html). Copy
# this file to $XDG_CONFIG_HOME/matplotlib/matplotlibrc to customise.
# Flent will try to detect if matplotlib loads a file from inside
# $HOME, and, if not, autoload this file.
#
# See http://matplotlib.org/users/customizing.html for more information on
# matplotlib rc files.

# Using an rc-file can break matplotlib auto-loading of backends. If running
# `flent -f plot` does not pop up a plot, set this to a suitable
# value:
#backend: Qt4Agg

# From Seaborn default style.
axes.axisbelow: True
axes.color_cycle: 1b9e77, d95f02, 7570b3, e7298a, 66a61e, e6ab02, a6761d, 666666
axes.edgecolor: white
axes.facecolor: EAEAF2
axes.grid: True
axes.labelcolor: .15
axes.linewidth: 0
figure.edgecolor: white
figure.facecolor: white
figure.frameon: False
grid.color: white
grid.linestyle: -
image.cmap: Greys
legend.frameon: False
legend.numpoints: 1
legend.scatterpoints: 1
lines.color: .15
lines.solid_capstyle: round
pdf.fonttype: 42
text.color: .15
xtick.color: .15
xtick.direction: out
xtick.major.size: 0
xtick.minor.size: 0
ytick.color: .15
ytick.direction: out
ytick.major.size: 0
ytick.minor.size: 0
