name: Run test suite

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        matplotlib: ["3.1", "3.2", "3.3", "3.4", "3.5", "3.6", "3.7", "3.8", "3.9"]
        pyqt: ["PyQt5", "PySide2"]
        exclude:
          - python: "3.8"
            matplotlib: "3.8"
          - python: "3.8"
            matplotlib: "3.9"
          - python: "3.11"
            matplotlib: "3.1"
          - python: "3.11"
            matplotlib: "3.2"
          - python: "3.11"
            matplotlib: "3.3"
          - python: "3.11"
            matplotlib: "3.4"
          - python: "3.12"
            matplotlib: "3.1"
          - python: "3.12"
            matplotlib: "3.2"
          - python: "3.12"
            matplotlib: "3.3"
          - python: "3.12"
            matplotlib: "3.4"
          - python: "3.11"
            matplotlib: "3.7"
            pyqt: "PySide2"
          - python: "3.12"
            pyqt: "PySide2"
      fail-fast: false

    env:
      MATPLOTLIB_VERSION: ${{ matrix.matplotlib }}
      PYQT: ${{ matrix.pyqt }}
      XDG_RUNTIME_DIR: "/tmp/runtime-runner"

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          sudo apt-get install -y xvfb libxkbcommon-x11-0 libxcb-icccm4 libxcb-shape0 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0
          [[ "$MATPLOTLIB_VERSION" == "3.8" ]] || [[ "$MATPLOTLIB_VERSION" == "3.9" ]] || pip install "numpy<2"
          pip install setuptools QtPy ${PYQT} "matplotlib==${MATPLOTLIB_VERSION}.*"
      - name: Run tests
        uses: GabrielBB/xvfb-action@v1
        with:
          run: make test_long
